<<<<<<< HEAD
body {
    background-color: black;
}

h1{
    color: white;
    zoom: 150%;
    top: 250px;
    left: 250px;
}
=======
body {
    background-color: black;
}

h1{
    color: white;
    zoom: 150%;
    top: 250px;
    left: 250px;
}
>>>>>>> 21fc7ea20d00a27cb6667d4ce0582642e3d2240c
