<<<<<<< HEAD

#caixa {
      width: 600px;
            height: 400px;
            border: 2px solid #ffffff;
            position: relative;
            margin: 20px;
            background-color: rgb(33, 38, 59);
            left: 400px;
            top: 80px;
            position: relative;
}

    input {
        left: 60px;
        width: 260px;
        height: 40px;
        border: 3px solid #000000;
        position: relative;
        margin: 6px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        text-align: center;
        color: azure;
    }

    body{
        background-image:url(../IMG/fumaça2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

    h1{
        position: relative;
        left: 100px;
        top: 40px;
        color: white;
    }

    h2{
        color: white;
        position: relative;
        left: 45px;
    }
    
    ul{
    text-decoration-line: none;
    list-style-type: none;
    overflow: hidden;
    zoom: 200%;
}


  button{
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-top: 20px;
    color: azure;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 92px;
    top: 125px;
}

    button:hover{
    background-color: blueviolet;
=======

#caixa {
      width: 600px;
            height: 400px;
            border: 2px solid #ffffff;
            position: relative;
            margin: 20px;
            background-color: rgb(33, 38, 59);
            left: 400px;
            top: 80px;
            position: relative;
}

    input {
        left: 60px;
        width: 260px;
        height: 40px;
        border: 3px solid #000000;
        position: relative;
        margin: 6px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        text-align: center;
        color: azure;
    }

    body{
        background-image:url(../IMG/fumaça2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

    h1{
        position: relative;
        left: 100px;
        top: 40px;
        color: white;
    }

    h2{
        color: white;
        position: relative;
        left: 45px;
    }
    
    ul{
    text-decoration-line: none;
    list-style-type: none;
    overflow: hidden;
    zoom: 200%;
}


  button{
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-top: 20px;
    color: azure;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 92px;
    top: 125px;
}

    button:hover{
    background-color: blueviolet;
>>>>>>> 21fc7ea20d00a27cb6667d4ce0582642e3d2240c
}